html {
    height: 100%;
    scroll-padding-top: calc(4.5rem - 1px);

}

body {
    width: 100%;
    height: 100%;
}

.page-section {
    padding: 8rem 0;
}
 
.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;

    .navbar-brand {
        font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #212529;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #6c757d;
                font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-weight: 700;
                font-size: 0.9rem;
                padding: 0.75rem 0;

                &:hover {
                    color: #f4623a;
                }

                &:active {
                    color: #f4623a;
                }
            }

            .nav-link.active {
                color: #f4623a !important;
            }
        }
    }
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    // background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;

    h1 {
        font-size: 2.25rem;
    }

    .h1 {
        font-size: 2.25rem;
    }
}

#portfolio {
    .container-fluid {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }

    .container-sm {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }

    .container-md {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }

    .container-lg {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }

    .container-xl {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }

    .container-xxl {
        max-width: 1920px;

        .portfolio-box {
            position: relative;
            display: block;

            .portfolio-box-caption {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                opacity: 0;
                color: #fff;
                background: rgba(244, 98, 58, 0.9);
                transition: opacity 0.25s ease;
                text-align: center;

                .project-category {
                    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    font-size: 0.85rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .project-name {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                .portfolio-box-caption {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;

        .navbar-brand {
            color: rgba(255, 255, 255, 0.7);

            &:hover {
                color: #fff;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: rgba(255, 255, 255, 0.7);
                    padding: 0 1rem;

                    &:hover {
                        color: #fff;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    #mainNav.navbar-shrink {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;

        .navbar-brand {
            color: #212529;

            &:hover {
                color: #f4623a;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #212529;

                    &:hover {
                        color: #f4623a;
                    }
                }
            }
        }
    }

    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }

        .h1 {
            font-size: 3rem;
        }
    }
}

@media (min-width: 1200px) {
    header.masthead {
        h1 {
            font-size: 3.5rem;
        }

        .h1 {
            font-size: 3.5rem;
        }
    }
}