<section class="page-section bg-warning" id="we">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Vì sao chọn học tại TutorMe?</h2>
                <hr class="divider divider-light">
                <p class="text-white-75 mb-4">
                    Mở khoá quyền trải nghiệm học tập cá nhân hoá dễ dàng hơn với
                    TutorMe – trung tâm ngoại ngữ dạy 1 – 1 theo kiểu truyền thống lẫn trực tuyến
                </p>

                <p class="text-white-75 mb-4">
                    Nhiều lựa chọn về giá cả để bạn có thể tìm gia sư hoàn hảo cho nhu cầu
                    và sở thích của mình.
                </p>

                <p class="text-white-75 mb-4">
                    Bắt đầu giờ học của bạn ở bất cứ đâu, bất cứ lúc nào,
                    chỉ với một cú điện thoại đặt lịch trước.
                </p>

                <a class="btn btn-light btn-xl" href="#contact-us">Đăng ký ngay</a>
            </div>
        </div>
    </div>
</section>