<section class="bg-light" id="intro">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <header class="masthead">
                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-white font-weight-bold">
                                Mở khoá quyền trải nghiệm học tập cá nhân hoá dễ dàng hơn với
                                TutorMe
                            </h1>
                            <hr class="divider">
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 mb-5">
                                Trung tâm ngoại ngữ dạy <span class="fw-bold">1 – 1</span> theo kiểu truyền thống lẫn
                                trực
                                tuyến
                            </p>
                            <!-- <a class="btn btn-primary btn-xl" href="#about">Đăng Ký</a> -->
                        </div>
                    </div>
                </div>
            </header>
        </ng-template>

        <ng-template ngbSlide>
            <header class="masthead2">
                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-white font-weight-bold">
                                Nhiều lựa chọn về giá cả với TutorMe
                            </h1>
                            <hr class="divider">
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 mb-5">
                                Nhiều lựa chọn về giá cả để bạn có thể tìm gia sư hoàn hảo cho nhu cầu
                                và sở thích của mình.
                            </p>
                            <!-- <a class="btn btn-primary btn-xl" href="#about">Đăng Ký</a> -->
                        </div>
                    </div>
                </div>
            </header>
        </ng-template>

        <ng-template ngbSlide>
            <header class="masthead3">
                <div class="container px-4 px-lg-5 h-100">
                    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-8 align-self-end">
                            <h1 class="text-white font-weight-bold">
                                Học bất cứ đâu với TutorMe
                            </h1>
                            <hr class="divider">
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p class="text-white-75 mb-5">
                                Bắt đầu giờ học của bạn ở bất cứ đâu, bất cứ lúc nào,
                                chỉ với một cú điện thoại đặt lịch trước.
                            </p>
                            <!-- <a class="btn btn-primary btn-xl" href="#about">Đăng Ký</a> -->
                        </div>
                    </div>
                </div>
            </header>
        </ng-template>

    </ngb-carousel>
</section>